.uploading-attachment-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
.uploading-attachment-item .preview-container {
  width: 150px;
  height: 150px;
  margin-bottom: 3px;
}
.uploading-attachment-item .preview-container img {
  width: 100%;
  height: 100%;
}
.uploading-attachment-item .uploading-progress-container {
}
.uploading-attachment-item .uploading-progress-container .progress-number {
  position: absolute;
  right: 0;
  z-index: 9999;
}
.uploading-attachment-item .uploading-progress-container .progress-line {
  background: #0000F0;
  height: 1px;
}
