.preloadable-image-container {}
.preloadable-image-container img
{
  width: 100%;
}
.preloadable-image-container .progress-container {
  margin: 0 auto;
  opacity: 0.3;
}
.preloadable-image-container .error-message-container {}
