<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Simple Note</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto" *ngIf="user !== null">
      <li class="nav-item">
        <a class="nav-link" routerLink="/note/add" routerLinkActive="active" ><i class="fas fa-plus"></i> Add Note</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/note/list" routerLinkActive="active">My Notes</a>
      </li>
      <li class="nav-item">
        <span class="nav-link btn" (click)="onAddNotePadClickHandler($event)"><i class="fas fa-plus"></i> Add NotePad</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/note/note-pad/list" routerLinkActive="active">My NotePads</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="user !== null">
      <li class="nav-item">
        <span class="nav-link">{{ user.fullName }}</span>
      </li>
      <li class="nav-item">
        <span class="btn btn-primary" (click)="onLogoutClickHandler($event)">Logout</span>
      </li>
    </ul>
  </div>
</nav>
