<ng-template #modalWindow let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Remove NotePad</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you really want to remove NotePad <b>"{{ notePad.title }}"</b> and all its notes?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="onCancelClickHandler($event)">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="onRemoveClickHandler($event)">Remove</button>
  </div>
</ng-template>

