<label for="file">Choose File</label>
<input type="file"
       id="file"
       accept="image/jpeg,image/png,image/gif"
       [multiple]="true"
       (change)="onFilesSelectHandler($event.target.files)">

<div class="complete-attachment-list">
  <app-completed-attachment *ngFor="let completed of completedAttachments" [attachment]="completed"></app-completed-attachment>
</div>

<div class="uploading-attachment-list">
  <app-uploading-attachment *ngFor="let uploadingItem of uploadingAttachments | async" [attachment]="uploadingItem"></app-uploading-attachment>
</div>
