<label for="file">Choose File <span class="text-muted small">(5M max)</span></label>
<div class="input-file-container">
  <span class="btn btn-success fake-button"><i class="fas fa-plus"></i> Add file</span>
  <input #fileSelector class="form-control-file input-file"
         type="file"
         id="file"
         accept=".jpg, .png"
         [multiple]="true"
         name="imageFile"
       (change)="onFilesSelectHandler($event.target.files)">
</div>
<p></p>
<div class="complete-attachment-list row">
  <div class="col-md-4 col-sm-4 col-lg-2 col-xl-2 col-4" *ngFor="let completed of note.attachments">
    <app-completed-attachment
      [attachment]="completed"
      (onRemove)="onRemoveHandler($event)"
    ></app-completed-attachment>
  </div>
</div>

<div class="uploading-attachment-list">
  <app-uploading-attachment *ngFor="let uploadingItem of uploadingAttachments | async" [attachment]="uploadingItem"></app-uploading-attachment>
</div>

<ng-template #removeAlertModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Remove attachment?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <b>Are you really want to remove this attachment?</b>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close()">Remove</button>
  </div>
</ng-template>
