.input-file-container {
  position: relative;
}

.input-file-container .fake-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.input-file-container .input-file
{
  opacity: 0;
  position: relative;
  z-index: 3;
  cursor: pointer;
}
