<div class="media text-muted pt-3">

  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
    <strong class="d-block text-gray-dark"><i class="far fa-folder-open"></i> {{ notePad.title }}</strong>

    <p class="mb-1 text-right">
      <span class="btn btn-primary" (click)="onEditClickHandler($event)"><i class="fas fa-pencil-alt"></i></span>&nbsp;
      <span class="btn btn-danger" (click)="onRemoveClickHandler($event)"><i class="fas fa-trash-alt"></i></span>
    </p>
    <div class="text-muted text-small clearfix">
      <small class="text-muted float-left">{{ notePad.noteNumber }} note(s)</small>
      <small class="text-right float-right text-muted">{{ notePad.createdAt | amFromUnix }}</small>
    </div>
  </div>
</div>
