<div class="list-group-item list-group-item-action">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1"><i class="far fa-folder-open"></i> {{ notePad.title }}</h5>
    <small class="text-muted">{{ notePad.createdAt | amFromUnix }}</small>
  </div>
  <p class="mb-1 text-right">
    <span class="btn btn-primary" (click)="onEditClickHandler($event)"><i class="fas fa-pencil-alt"></i> Edit</span>&nbsp;
    <span class="btn btn-danger" (click)="onRemoveClickHandler($event)"><i class="fas fa-trash-alt"></i> Remove</span>
  </p>
  <small class="text-muted">{{ notePad.noteNumber }} note(s)</small>
</div>
